footer {
  text-align: center;
  background-color: #1e1e1e;
  font-size: 12px;
  color: #919191;
}
 
.mainbox{
    width:610px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    text-align: right;
    padding: 30px;
    margin: 30px;
}